:root {
  --primary-text-color: #434455;
  --primary-bg-color: #e5e5e5;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --hover-bg-color: #404bbf;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --------HEADER-------- */

.header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 23px;

  background-color: #ffffff;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Raleway';
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo {
  font-size: 18px;
  line-height: calc(21 / 18);
  color: #2e2f42;
  transition: color var(--time) var(--timing-function);
}

.logo .accent {
  color: var(--accent-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.header-list {
  display: none;
}

.header-address {
  display: none;
}

.menu-toggle {
  display: inline-flex;
  padding: 0;
  border: none;

  background-color: transparent;
  cursor: pointer;
  color: #2e2f42;
}

.open-menu-icon {
  stroke: currentColor;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: var(--hover-bg-color);
}
/* --------MOBILE-MENU-------- */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  z-index: 3;

  transform: translateX(-100%);
  transition: transform var(--time) var(--timing-function);
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu .mobile-menu-btn {
  background-color: rgba(231, 233, 252, 0.1);
  border-color: rgba(46, 47, 66, 0.1);
}

.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
  color: #ffffff;
  background-color: var(--hover-bg-color);
  border-color: transparent;
}

.close-menu-icon {
  fill: currentColor;
}

.mobile-item {
  margin-bottom: 40px;
}

.mobile-link {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  color: var(--title-text-color);
  transition: color var(--time) var(--timing-function);
}

.mobile-link:hover,
.mobile-link:focus {
  color: var(--hover-bg-color);
}

.mobile-link.active {
  color: var(--hover-bg-color);
}

.mobile-address-item {
  margin-top: 40px;
}

.mobile-tel,
.mobile-mail {
  display: block;
  font-style: normal;
  transition: color var(--time) var(--timing-function);
}
.mobile-tel {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(40 / 36);
  color: var(--accent-color);
}

.mobile-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  color: inherit;
}

.mobile-mail:hover,
.mobile-mail:focus,
.mobile-tel:hover,
.mobile-tel:focus {
  color: var(--hover-bg-color);
}

.mobile-soc-list {
  display: flex;
  gap: 28px;
  margin-top: 48px;
}

.mobile-soc-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-color);
  border-radius: 50%;

  transition: background-color var(--time) var(--timing-function);
}

.mobile-soc-link:hover,
.mobile-soc-link:focus {
  background-color: var(--hover-bg-color);
}

/* --------HERO-------- */

.overlay {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2e2f42;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office-mobile@2x.jpg');
  }
}

.hero {
  padding-top: 112px;
  padding-bottom: 112px;

  text-align: center;
}

.hero-title {
  margin-bottom: 72px;

  font-size: 26px;
  line-height: calc(40 / 36);

  color: #ffffff;
}
.hero-btn {
  border-radius: 4px;
  border: none;
  padding: 16px 32px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  cursor: pointer;

  transition: background-color var(--time) var(--timing-function);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hover-bg-color);
}

/* --------MODAL-------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  visibility: visible;

  padding-top: 96px;
  padding-left: 18px;
  padding-right: 18px;

  overflow-y: scroll;

  transition: opacity var(--time) var(--timing-function),
    visibility var(--time) var(--timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;

  padding-top: 72px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;

  border-radius: 4px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.modal-btn,
.mobile-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  color: #2e2f42;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: color var(--time) var(--timing-function),
    background-color var(--time) var(--timing-function);

  cursor: pointer;
}

.modal-btn-icon {
  fill: currentColor;
}

.modal-btn:hover,
.modal-btn:focus {
  color: #ffffff;
  background-color: var(--hover-bg-color);
  border-color: transparent;
}

/* --------MODAL-FORM-------- */

.form-order {
}

.form-caption {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--title-text-color);
  text-align: center;
}

.input-label {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.label-text {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: calc(14 / 12);
  color: #8e8f99;
  letter-spacing: 0.01em;
}

.label-text.label-text-name {
  letter-spacing: 0.04em;
}

.form-input {
  height: 40px;
  padding-left: 34px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color var(--time) var(--timing-function);
}

.form-input:focus {
  border-color: var(--accent-color);
}

.form-order-icon {
  position: absolute;
  left: 16px;
  bottom: 20px;
  transform: translateY(50%);
  fill: var(--title-text-color);
  transition: fill var(--time) var(--timing-function);
}

.form-input:focus + .form-order-icon {
  fill: var(--accent-color);
}

.textarea-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.form-textarea {
  height: 120px;
  padding: 8px 8px 8px 16px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color var(--time) var(--timing-function);
}

.form-textarea:focus {
  border-color: var(--accent-color);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
  display: flex;
  gap: 8px;
  align-items: center;
}

.checkbox-border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;

  color: transparent;
  border: 1px solid #2e2f42;
  border-radius: 2px;

  transition: color var(--time) var(--timing-function),
    background-color var(--time) var(--timing-function),
    border-color var(--time) var(--timing-function);
}

.checkbox-icon {
  fill: currentColor;
}

.form-checkbox:checked + .checkbox-border {
  color: #f4f4fd;
  background-color: var(--hover-bg-color);
  border-color: transparent;
}

.form-checkbox:focus + .checkbox-border {
  border-color: var(--hover-bg-color);
  border-width: 2px;
}

.checkbox-label-text {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;

  color: #8e8f99;
}

.checkbox-label-text .label-text-link {
  line-height: calc(16 / 12);
  color: var(--accent-color);
}

.form-order-btn {
  display: block;
  min-width: 169px;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
}

/* --------OUR ADVANTAGES-------- */

.benefits-item:not(:last-child) {
  margin-bottom: 72px;
}

.benefits-thumb {
  display: none;
}

.benefits-title {
  margin-bottom: 8px;

  font-size: 36px;
  line-height: calc(40 / 36);
  color: var(--title-text-color);
  text-align: center;
}

.benefits-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

/* --------WHAT ARE WE DOING-------- */

.case {
  display: none;
}

/* --------OUR TEAM-------- */

.team {
  background-color: #f4f4fd;
}

.team .container {
  width: calc(264px + 2 * 16px);
  /* outline: 2px solid tomato; */
}

.team-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  text-transform: capitalize;
  color: var(--title-text-color);
}

.team-item:not(:last-child) {
  margin-bottom: 72px;
}

.team-item {
  padding-bottom: 32px;

  text-align: center;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item-title {
  margin-top: 32px;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-text-color);
}

.team-item-text {
  font-size: 16px;
  line-height: 1.5;
}

.team-soc-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}

.team-soc-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-color);
  border-radius: 50%;

  transition: background-color var(--time) var(--timing-function);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--hover-bg-color);
}

/* --------Customers-------- */

.customer-title {
  margin-bottom: 72px;

  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  text-transform: capitalize;
  color: var(--title-text-color);
}

.customer-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}

.customer-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customer-link {
  display: flex;

  justify-content: center;
  align-items: center;
  color: #8e8f99;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;

  transition: color var(--time) var(--timing-function),
    border-color var(--time) var(--timing-function);
}

.customer-link:hover,
.customer-link:focus {
  color: var(--hover-bg-color);
  border-color: var(--hover-bg-color);
}

.customer-icon {
  fill: currentColor;
}

/* --------FOOTER-------- */

.footer {
  padding-top: 96px;
  padding-bottom: 96px;

  background-color: var(--title-text-color);
}

.footer .container {
  padding-left: 15px;
  padding-right: 15px;
}

.footer-logo {
  display: block;
  margin-bottom: 16px;
  text-align: center;

  font-size: 18px;
  line-height: calc(21 / 18);
  color: #f4f4fd;
  transition: color var(--time) var(--timing-function);
}

.footer-text {
  width: 268px;
  margin-left: auto;
  margin-right: auto;

  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
}

.footer-soc {
  margin-top: 72px;
}

.footer-soc-title,
.form-footer-caption {
  margin-bottom: 16px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-soc-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color var(--time) var(--timing-function);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

/* --------FOOTER-FORM-------- */

.form-footer-container {
  margin-top: 72px;
}

.form-footer-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 16px;

  color: #ffffff;

  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.form-footer-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  opacity: 0.6;
}

.form-footer-btn {
  display: flex;
  align-items: center;
  margin-top: 16px;
  padding: 8px 24px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 4px;
  border: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--accent-color);

  cursor: pointer;

  transition: background-color var(--time) var(--timing-function);
}

.form-footer-btn:hover,
.form-footer-btn:focus {
  background-color: var(--hover-bg-color);
}

.footer-btn-text {
  margin-right: 16px;
}

.footer-btn-icon {
  fill: currentColor;
}

/* -------------PORTFOLIO PAGE------------- */

.examples.section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.examples-btn-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 16px;
  margin-bottom: 48px;
}

.examples-btn {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: #f4f4fd;

  cursor: pointer;

  transition: color var(--time) var(--timing-function),
    background-color var(--time) var(--timing-function),
    box-shadow var(--time) var(--timing-function),
    border-color var(--time) var(--timing-function);
}

.examples-btn:hover,
.examples-btn:focus {
  color: #ffffff;
  background-color: var(--hover-bg-color);
  border-color: transparent;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.examples-link {

  background-color: #ffffff;

  transition: box-shadow var(--time) var(--timing-function);
}

.examples-link:hover,
.examples-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  outline: none;
}

.examples-item-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-text-color);
}
.examples-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color);
}

.examples-thumb {
  position: relative;
  overflow: hidden;
}

.examples-thumb img {
  max-width: 100%;
  height: auto;
}

.examples-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 40px 32px;
  background-color: var(--accent-color);

  transform: translateY(100%);
  transition: transform var(--time) var(--timing-function);
}

.examples-overlay-text {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
}

.examples-link:hover .examples-overlay,
.examples-link:focus .examples-overlay {
  transform: translateY(0);
}

.card-border {
  padding: 32px 16px 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}
